{% extends "base.html" %}
{% block content %}

<!-- layout styles..content  -->
<div class="container" style="margin-top: 9rem;">
  <div class="row justify-content-evenly">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="p-5 rounded-3 ">

      <!-- heading  -->
      <div class="row mb-2 p-2 history-ticket">
        <div class="text-center mb-4 pixel-font">
          <br>
        <h2>Booking History</h2>
      </div>
      </div>

      <!-- Cut line  -->
      <br>
      <hr style="width: 16.6%; margin: 0 auto; border: 2px solid #ff8c00; opacity: 1;">
      <br>


            <!-- Sub Heading 1   -->
      <div class="row mb-2 history-ticket">
        <div class="text-center mb-4 pixel-font">
          <br>
        <h5>Upcoming</h5>
      </div>
      </div>


      <!-- Ticket History For Upcoming Events -->
      {% for ticket in tickets %}
        {% if ticket.status == "Active" %}
        <div class="row mb-2 p-2 history-ticket">
          <div class="col-12">
            <div class="row">

            <!-- main image hide on small -->
            <div class="col-4 d-none d-md-block ">
              <img src="../static/img/competative-image.jpg" class="card-img-top" alt="..." style="border-radius: 10px;">
            </div>

            <!-- description block -->
            <div class=" col-12 col-md-8 d-flex" style="min-height: 7rem;">
            
              <div class="row w-100 align-items-start">
                
                <div class="col-12">
                  <p class="pixel-font"> {{ticket.event.title}} </p>
                </div>

                <div class="col-5 pixel-font d-flex flex-column justify-content-center mb-1" style="font-size: small;">
                  <span>Booked</span>
                  <span>{{ticket.event.time}}</span>
                  <span>{{ticket.event.date}}</span>
                </div>

                <div class="col-7 mb-1 d-flex flex-column">
                  <span class="mb-1 pixel-font" style="font-size: small;">Booking number: {{ticket.event.id}}</span>
                  <span class="m-0"> 
                    <img src="../static/img/QR.PNG" class="card-img-top" alt="..." style="height: 4rem; width: 4rem;"> 
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        {% endif %}
      {% endfor %}


      <!-- Cut line 2 -->
      <br>
      <hr style="width: 16.6%; margin: 0 auto; border: 2px solid #ff8c00; opacity: 1;">
      <br>




        <!-- Sub Heading 2 -->
      <div class="row mb-2 history-ticket">
        <div class="text-center mb-4 pixel-font">
          <br>
        <h5>Previous</h5>
      </div>
      </div>

      <!-- ticket history for past tickets  -->
      {% for ticket in tickets %}
        {% if ticket.status == "Deactivated" %}
        <div class="row mb-2 p-2 history-ticket">
          <div class="col-12">
            <div class="row">

            <!-- main image hide on small -->
            <div class="col-4 d-none d-md-block ">
              <img src="../static/img/competative-image.jpg" class="card-img-top" alt="..." style="border-radius: 10px;">
            </div>

            <!-- description block -->
            <div class=" col-12 col-md-8 d-flex" style="min-height: 7rem;">
            
              <div class="row w-100 align-items-start">
                
                <div class="col-12">
                  <p class="pixel-font"> {{ticket.event.title}} </p>
                </div>

                <div class="col-5 pixel-font d-flex flex-column justify-content-center mb-1" style="font-size: small;">
                  <span>Booked</span>
                  <span>{{ticket.event.time}}</span>
                  <span>{{ticket.event.date}}</span>
                </div>

                <div class="col-7 mb-1 d-flex flex-column">
                  <span class="mb-1 pixel-font" style="font-size: small;">Booking number: {{ticket.event.id}}</span>
                  <span class="m-0"> 
                    <img src="../static/img/QR.PNG" class="card-img-top" alt="..." style="height: 4rem; width: 4rem;"> 
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        {% endif %}
      {% endfor %}



    </div>


{% endblock %}