{% extends "base.html" %}
{% block content %}

<div class="container platform">

    <!--Image and discription Elements next to eachother when screen is large otherwise collapsed -->
    <div class="row">
        <div class="col-lg-7 col-12 image-col d-flex">
          <img src={{'../static/img/' + event.image}} class="card-img-top" alt="...">
        </div>
        <div class="col-lg-5 col-12 context-col">
          <div class="container-md">
            <div class="row">
              <div class="col-12">\
                <div class="row">
                  <div id="title" class="col-12 text-center text-capitalize">
                    <h5 class="pixel-font">{{event.title}}</h5>
                  </div>
                  <div id="description" class="col my-3">
                    <p class="pixel-font">{{event.description}} </p>
                  </div>
                  <div class="text-center pixel-font">
                    <p>Date: {{event.date}}</p>
                    <p>start Time: {{event.time}}</p>
                    <p>Venu: {{event.location}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="orange" class="bi bi-dot" viewBox="0 0 16 16">
                      <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                    </svg> {{event.status}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

     <!-- Booking Element  -->
    <div class="row m-xl-2 m-2 mb-lg-4 d-flex justify-content-center">
      <div class="col-12 mt-3 d-flex justify-content-center">
        <h3 class="pixel-font">Booking</h3>
      </div>
      <div class="col-12 col-md-6 d-flex  justify-content-md-end">
        <p class="pixel-font">ticket number: </p>
      </div>
        <div class="col- col-sm-3">
          <form method="POST">
          {{ form.hidden_tag() }}
          <div class="input-group col-12">
             <div class="mb-3 col-6">
                  {{form.quantity(class="form-control")}}
            </div>
            <div class="col-6">{{form.submit(class="form-control")}}</div>
          </div>
        </div>
      </form>
      <div class="col-3 d-sm-block"></div>
      <div class="col-12 d-flex justify-content-center">
        <p class="pixel-font" style="font-size: xx-small; margin-top: 10px;">not Signed in yet click <a href="{{url_for('auth.signup')}}">Here</a><p>
      </div>
    </div>

    <!-- Comment Element containing sample comments -->
    
    <div id="comments" class="row mt-lg-3 ms-1 me-1"> 
    <div class="rounded-1 col-12 bg-dark-subtle comment-platform">
      <h2>Comments</h2>
    <div class="input-group m-2 me-1">
      <input type="text" class="form-control" placeholder="Amazing Event!" aria-label="Amazing Event!" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post</button>
    </div> 

    <!-- Comment Element containing dynamic comments -->
    {% for c in comments[:3] %}
    <div id="comment-box" class="row rounded-2 m-3 comment-box bg-body">

      <div class="col-2 d-flex justify-content-start align-items-center">
        <!-- person icon -->
        <svg width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 1 0 0 14A7 7 0 0 0 8 1"/>
        </svg>
        <p class="mt-2 ms-1">
          {% if c.user and c.user.first_name %}
            {{ c.user.first_name }}
          {% else %}
            User #{{ c.user_id }}
          {% endif %}
        </p>
      </div>

      <div class="col-5 d-none d-lg-block mt-2 d-flex justify-content-end">
        <p>
          Posted {{ c.date_posted }}
        </p>
      </div>

      <div class="row">
        <div class="col-12 bg-dark-subtle me-5 ms-3 mb-3 rounded-2">
          <p class="m-1">{{ c.comment }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

    {% if comments|length == 0 %}
      <p class="text-muted ms-3">No comments yet for this event.</p>
    {% endif %}

{% endblock %}