{% extends "base.html" %}
{% block content %}

<div class="container platform">

  <!-- Page heading -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <p class="display-6 pixel-font " style="margin-top:40px;">Event Management</p>
    </div>
  </div>
  
  <!-- Two gray boxes side by side -->
  <div class="row justify-content-center mt-4" style="margin-left: 10px; margin-right: 10px;">

    <!-- Left box (Photo upload) -->
    <div class="col-lg-4 col-md-5 d-flex justify-content-center">
      <div class="p-4 rounded-4 shadow w-100" style="background-color: #535353;">
        <h5 class="text-center mb-3">Upload Photo</h5>

        
        <input class="form-control mb-3" type="file" id="formFile">
        <div class="text-center text-muted small">
          <img src="../static/img/competative-2-image.jpg" class="card-img-top" alt="defult-img.jpg">
        </div>
      </div>
    </div>

    <!-- Right box (Event form) -->
    <div class="col-lg-8 col-md-7">
      <div class="p-4 rounded-4 shadow" style="background-color: #535353;">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="row mb-3">
            <div class="col-md-6">
              {{ form.event_name.label(class="form-label") }}
              {{ form.event_name(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ form.event_date.label(class="form-label") }}
              {{ form.event_date(class="form-control") }}
            </div>
          </div>

          <!-- no. of tickets -->
          <div class="row mb-3">
            <div class="col-md-6">
              {{ form.num_of_tickets.label(class="form-label") }}
              {{ form.num_of_tickets(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ form.event_time.label(class="form-label") }}
              {{ form.event_time(class="form-control") }}
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              {{ form.location.label(class="form-label") }}
              {{ form.location(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ form.catagory.label(class="form-label") }}
              {{ form.catagory(class="form-control") }}
            </div>
          </div>

          <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
          </div>

          <div class="text-center">
            {{ form.submit(class="form-control") }}
          </div>
        </form>
      </div>
    </div>

  </div>
  <!-- End gray boxes -->

  <br>
  <br>


</div>

{% endblock %}
