{% extends "base.html" %}
{% block content %}

<div class="container platform">

  <!-- Page heading -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <p class="display-6 pixel-font " style="margin-top:40px;">Event Management</p>
    </div>
  </div>
  
  <!-- Two gray boxes side by side -->
  <div class="row justify-content-center mt-4" style="margin-left: 10px; margin-right: 10px;">
    
    <!-- Right box (Event form) -->
    <div class="col-lg-8 col-md-7">
      <div class="p-4 rounded-4 shadow" style="background-color: #535353;">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="row mb-3">
            <div class="col-md-6">
              {{ form.title.label(class="form-label") }}
              {{ form.title(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ form.date.label(class="form-label") }}
              {{ form.date(class="form-control") }}
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              {{ form.availability.label(class="form-label") }}
              {{ form.availability(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ form.time.label(class="form-label") }}
              {{ form.time(class="form-control") }}
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              {{ form.location.label(class="form-label") }}
              {{ form.location(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ form.catagory.label(class="form-label") }}
              {{ form.catagory(class="form-control") }}
            </div>
          </div>

          <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
          </div>

          <div class="mb-3">
            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control") }}
          </div>

          {% if event_id %}
          <div class="row text-center mt-3">
            <div class="col-6">
              {{ form.submit(class="form-control") }}
            </div>
            <div class="col-6">
              {{ form.cancel(class="form-control") }}
            </div>
            {%else%}
            <div class="row text-center mt-3">
              <div class="col-12">
                {{ form.submit(class="form-control") }}
              </div>
            </div>
            {% endif %}
        </form>
      </div>
    </div>

  </div>
  <!-- End gray boxes -->

  <br>
  <br>
  
</div>

<div class="container platform">

  <!-- Page heading -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <p class="display-6 pixel-font " style="margin-top:40px;">My Events</p>
    </div>
  </div>

  <div class="row justify-content-center mt-4" style="margin-left: 10px; margin-right: 10px;">
    <div class="p-4 rounded-4 shadow" style="background-color: #535353;">
      <div class="col-12 justify-content-center text-center">
        {% if events%}
        <p class="pixel-font text-sm mb-4">click on events to edit</p>
        {%for event in events%}
          <a class="pixel-font m-2" href="{{ url_for('main.eventManagment', event_id=event.id) }}">{{event.title}}</a>
          {%endfor%}
        {%else%}
          <p class="pixel-font">No Events</p>
        {%endif%}
      </div>
    </div>
  </div>

</div>

{% endblock %}
