{% extends "base.html" %}
{% block content %}
<div class="container-sm tango-pixels" >  
     <img src="../static/img/Tango-2.png"  style="margin-left: 10%;" class="d-block w-75" alt="competative-image">
  </div>

  <!-- ------------- Heading -------------- -->
  <div id="Main-Carousel" class="container-md">
    <div class="Popular-heading col-12 d-flex justify-content-center">
      <h1 class="Popular">Popular</h1>
    </div>


 <!-- ------------- CAROSEL -------------- -->

 <!-- ------------- CAROSEL -------------- -->
    <div id="carousel" class="col-flex">
        <div id="carouselAutoplaying" class="carousel slide" style="justify-content: center;" data-bs-ride="carousel">
                <div class="carousel-inner">
                  
                  <!-- ------------- CAROSEL 1 -------------- -->
                  <div class="carousel-item active" data-bs-interval="100000">
                    <div class="cards-wrapper">
                    
                        <!-- TO DO dynamic 3 card content  -->
                        <div id="competative-card" class="card card-main collapse show">
                            <img src="../static/img/competative-image.jpg" class="card-img-top">
                            <div class="card-body" style="background-color: transparent;">
                            <h5 class="card-title">CS:GO open</h5>
                            <p class="card-text d-none d-lg-block">coming this july 2026 be there or be square you dont wanna miss this showdown!</p>
                            </div>
                            <a href="details" class="stretched-link"></a>
                        </div>

                    </div>
                  </div>

                  <!-- ------------- CAROSEL 2 -------------- -->
                  <div class="carousel-item" data-bs-interval="100000"> 
                    <div class="cards-wrapper">
                      
                    <!-- TO DO dynamic 3 card content  -->
                    <div id="social-card" class="card card-main collapse show">
                      <img src="../static/img/casual-image.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color: transparent;">
                          <h5 class="card-title">Friend Slop Frezy</h5>
                          <p class="card-text d-none d-lg-block">have fun with great people and the best co-op gaming experiances</p>
                        </div>
                        <a href="details" class="stretched-link"></a>
                    </div>

                    </div>
                  </div>
                
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
          </div>
    </div>
  </div>

  <div id="filter" class="container-sm col-12 d-flex justify-content-center mt-5">
   
    <h2 class="pixel-font d-none d-md-block">Events</h2>
    <div class="dropdown d-none d-md-block d-lg-none" >
      <button class="btn btn-secondary dropdown-toggle button-filter" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        <div class="icon-link" href="#" style="color: #000; text-decoration: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
          </svg>
        </div>
      </button>

        <ul class="dropdown-menu">
         
          <li style="margin-left: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" data-bs-toggle="collapse" data-bs-target="#competative-card" checked>
            <label class="form-check-label" for="defaultCheck1">
              Competative
            </label>
          </li>

          <li style="margin-left: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" data-bs-toggle="collapse" data-bs-target="#casual-card" checked>
            <label class="form-check-label" for="defaultCheck2">
              Casual
            </label>
          </li>
          
          <li style="margin-left: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
              Social
            </label>
          </li>
        </ul>
      </div>

  </div>

  <div class="container-lg d-none d-md-block  d-inline">
    
    <div class="row justify-content-center">


      <!-- TO DO dynamic card bulk content -->  

      <div id="competative-card" class="card card-main collapse show">
        <img src="../static/img/competative-image.jpg" class="card-img-top" alt="..." style="max-height: 190px;">
          <div class="card-body" style="background-color: transparent;">
            <h5 class="card-title">CS:GO Annual</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-main">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="green" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
              </svg> Available
            </li>
          </ul>
          <a href="details" class="stretched-link"></a>
      </div>
    
    </div>
  </div>

  </div>
{% endblock %}